[workspace]
resolver = "3"
members = [
  "ast",
  "error",
  "lexer",
  "source",
  "io",
  "middle_end/parser",
  "driver",
  "middle_end/semantic_analyzer",
  "codegen",
]

[workspace.dependencies]
tempfile = "3"
